    Para todas los ejercicios de pair programming de Estadística I, II y III usaremos el dataframe que se tome para el desarrollo de este ejercicio de pair programming.

In [2]:
import numpy as np
from scipy import stats # importando scipy.stats
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data

## Objectivos

1. Buscar un conjunto de datos a analizar:
 - Se recomienda que el conjunto de datos a analizar tenga variables numéricas y categóricas. Ya que también se analizarán.

In [8]:
fichero = pd.read_csv("archive/cost-of-living.csv")
fichero.sample(10)

,Unnamed: 0,city,country,x1,x2,x3,x4,x5,x6,x7,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
3460,3460,Aleksinac,Serbia,3.54,13.72,5.53,1.06,NaN,0.95,0.69,...,137.16,199.10,123.89,884.90,530.94,560.59,802.79,288.76,7.00,0
391,391,Fes,Morocco,1.86,9.30,3.95,2.00,2.79,1.09,0.65,...,32.03,224.61,149.74,299.48,198.80,824.80,547.61,241.93,5.00,0
290,290,Kansas City,United States,17.50,55.00,10.76,3.00,5.00,4.50,3.25,...,65.00,1100.00,1125.00,1700.00,1750.00,NaN,NaN,2649.60,5.43,0
1621,1621,Isesaki,Japan,7.22,28.88,5.78,3.61,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4749,4749,Tipp City,United States,NaN,50.00,6.50,4.00,4.00,3.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1066,1066,Aurora,United States,13.50,50.00,8.50,5.50,6.00,3.50,2.28,...,101.00,1495.00,1495.00,2165.00,2165.00,1345.49,968.75,4242.00,5.04,0
1310,1310,Bhuj,India,1.22,9.79,3.37,NaN,NaN,NaN,0.38,...,24.49,91.82,89.78,183.64,122.43,NaN,NaN,NaN,10.00,0
1645,1645,Spring Valley,United States,20.00,60.00,9.00,6.00,8.50,4.00,1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3481,3481,Niksic,Montenegro,6.23,14.54,2.08,2.08,1.35,1.21,1.35,...,67.52,235.44,173.12,553.97,422.40,986.76,623.22,389.51,5.00,0
1698,1698,Holon,Israel,17.48,72.83,16.02,7.72,6.12,3.75,2.68,...,126.23,1048.68,975.86,1650.71,1631.29,6699.92,5461.89,2441.10,3.88,0

In [11]:
fichero.info()
#para ver la tipologia de datos, la mayoria son float, menos city y country que son objects.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4874 entries, 0 to 4873
Data columns (total 59 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    4874 non-null   int64
 1   city          4874 non-null   object
 2   country       4874 non-null   object
 3   x1            4449 non-null   float64
 4   x2            4432 non-null   float64
 5   x3            4552 non-null   float64
 6   x4            4385 non-null   float64
 7   x5            4445 non-null   float64
 8   x6            4540 non-null   float64
 9   x7            4438 non-null   float64
 10  x8            4571 non-null   float64
 11  x9            4494 non-null   float64
 12  x10           4457 non-null   float64
 13  x11           4538 non-null   float64
 14  x12           4369 non-null   float64
 15  x13           4393 non-null   float64
 16  x14           4318 non-null   float64
 17  x15           4312 non-null   float64
 18  x16           4509 non-null   float64
 19  x17           4499 non-null   float64
 20  x18           4439 non-null   float64
 21  x19           4410 non-null   float64
 22  x20           4444 non-null   float64
 23  x21           4447 non-null   float64
 24  x22           4379 non-null   float64
 25  x23           4490 non-null   float64
 26  x24           4414 non-null   float64
 27  x25           4149 non-null   float64
 28  x26           4223 non-null   float64
 29  x27           4389 non-null   float64
 30  x28           3401 non-null   float64
 31  x29           2750 non-null   float64
 32  x30           4013 non-null   float64
 33  x31           3869 non-null   float64
 34  x32           3506 non-null   float64
 35  x33           4296 non-null   float64
 36  x34           3839 non-null   float64
 37  x35           3904 non-null   float64
 38  x36           4400 non-null   float64
 39  x37           3702 non-null   float64
 40  x38           4534 non-null   float64
 41  x39           3523 non-null   float64
 42  x40           2508 non-null   float64
 43  x41           4405 non-null   float64
 44  x42           3761 non-null   float64
 45  x43           3230 non-null   float64
 46  x44           4413 non-null   float64
 47  x45           4273 non-null   float64
 48  x46           4388 non-null   float64
 49  x47           4337 non-null   float64
 50  x48           3533 non-null   float64
 51  x49           3465 non-null   float64
 52  x50           3418 non-null   float64
 53  x51           3385 non-null   float64
 54  x52           2681 non-null   float64
 55  x53           2609 non-null   float64
 56  x54           3459 non-null   float64
 57  x55           3894 non-null   float64
 58  data_quality  4874 non-null   int64
dtypes: float64(55), int64(2), object(2)
memory usage: 2.2+ MB

In [10]:
fichero.shape
#tenemos 4874 filas / entradas y 59 columnas.

(4874, 59)

In [14]:
fichero["city"].value_counts()
#Miramos el value count porque queremos intender que es cada entry.
#La conclusion despues de haber mirado el fichero es que cada entry es la respuesta de una persona.
#Tambien hemos averiguado en la pagina web https://www.numbeo.com/cost-of-living/

Victoria     4
Hamilton     3
Toledo       3
Salamanca    3
Cordoba      3
            ..
Green Bay    1
Kharagpur    1
Waitakere    1
Fargo        1
Neiafu       1
Name: city, Length: 4816, dtype: int64

In [12]:
fichero.isnull().sum()
#Aqui hemos averiguado los nulos y nos hemos dado cuenta que hay muchos nulos
# en la categorias de ocio por ejemplo (tennis court, Gym, etc.) o de la compra de un piso.
# y asumimos que no todas la personas tienen la misma capacidad economica para
#comprar un piso o que tengan los mismo gusto de ocio.

Unnamed: 0         0
city               0
country            0
x1               425
x2               442
x3               322
x4               489
x5               429
x6               334
x7               436
x8               303
x9               380
x10              417
x11              336
x12              505
x13              481
x14              556
x15              562
x16              365
x17              375
x18              435
x19              464
x20              430
x21              427
x22              495
x23              384
x24              460
x25              725
x26              651
x27              485
x28             1473
x29             2124
x30              861
x31             1005
x32             1368
x33              578
x34             1035
x35              970
x36              474
x37             1172
x38              340
x39             1351
x40             2366
x41              469
x42             1113
x43             1644
x44              461
x45              601
x46              486
x47              537
x48             1341
x49             1409
x50             1456
x51             1489
x52             2193
x53             2265
x54             1415
x55              980
data_quality       0
dtype: int64

In [15]:
fichero.duplicated().sum()
#no hay duplicados

0

In [16]:
fichero.describe()
#el describe nos devuelve los principales estadisticos de la tabla.

,Unnamed: 0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
count,4874.000000,4449.000000,4432.000000,4552.000000,4385.000000,4445.000000,4540.000000,4438.000000,4571.000000,4494.000000,...,4337.000000,3533.000000,3465.000000,3418.000000,3385.000000,2681.000000,2609.000000,3459.000000,3894.000000,4874.000000
mean,2436.500000,10.321643,43.213592,6.875426,3.376732,3.937287,2.742822,1.513053,1.110768,1.139455,...,85.420108,710.696156,559.472898,1252.427627,973.603867,3207.173025,2323.089766,1817.033501,6.527214,0.186705
std,1407.146936,7.165507,25.365827,2.669017,2.080606,2.088773,1.353734,0.905525,0.749957,0.513458,...,40.328050,650.404203,529.592777,1222.803640,926.552107,6222.564176,3536.720519,1626.482870,5.423472,0.389714
min,0.000000,0.450000,3.250000,1.060000,0.320000,0.310000,0.220000,0.110000,0.070000,0.260000,...,7.570000,21.690000,12.200000,61.200000,27.110000,109.530000,48.010000,18.000000,0.600000,0.000000
25%,1218.250000,4.310000,22.350000,4.910000,1.590000,2.220000,1.560000,0.750000,0.470000,0.820000,...,57.620000,254.440000,168.970000,465.720000,325.920000,1118.030000,778.890000,478.255000,3.000000,0.000000
50%,2436.500000,9.830000,40.000000,6.960000,3.000000,3.640000,2.630000,1.450000,1.040000,1.040000,...,83.100000,519.350000,400.000000,934.000000,720.710000,2077.390000,1558.040000,1298.370000,5.210000,0.000000
75%,3654.750000,15.000000,60.000000,8.500000,5.000000,5.190000,3.722500,2.080000,1.570000,1.300000,...,106.670000,986.760000,791.670000,1700.000000,1367.330000,3782.820000,2796.500000,2742.500000,8.497500,0.000000
max,4873.000000,56.980000,211.350000,21.810000,15.000000,17.500000,10.000000,8.000000,5.770000,6.810000,...,542.740000,12608.830000,8989.370000,27006.110000,17868.180000,237522.540000,79174.180000,12681.260000,61.330000,1.000000

- city	Name of the city
- country	Name of the country
- x1	Meal, Inexpensive Restaurant (USD)
- x2	Meal for 2 People, Mid-range Restaurant, Three-course (USD)
- x3	McMeal at McDonalds (or Equivalent Combo Meal) (USD)
- x4	Domestic Beer (0.5 liter draught, in restaurants) (USD)
- x5	Imported Beer (0.33 liter bottle, in restaurants) (USD)
- x6	Cappuccino (regular, in restaurants) (USD)
- x7	Coke/Pepsi (0.33 liter bottle, in restaurants) (USD)
- x8	Water (0.33 liter bottle, in restaurants) (USD)
- x9	Milk (regular), (1 liter) (USD)
- x10	Loaf of Fresh White Bread (500g) (USD)
- x11	Rice (white), (1kg) (USD)
- x12	Eggs (regular) (12) (USD)
- x13	Local Cheese (1kg) (USD)
- x14	Chicken Fillets (1kg) (USD)
- x15	Beef Round (1kg) (or Equivalent Back Leg Red Meat) (USD)
- x16	Apples (1kg) (USD)
- x17	Banana (1kg) (USD)
- x18	Oranges (1kg) (USD)
- x19	Tomato (1kg) (USD)
- x20	Potato (1kg) (USD)
- x21	Onion (1kg) (USD)
- x22	Lettuce (1 head) (USD)
- x23	Water (1.5 liter bottle, at the market) (USD)
- x24	Bottle of Wine (Mid-Range, at the market) (USD)
- x25	Domestic Beer (0.5 liter bottle, at the market) (USD)
- x26	Imported Beer (0.33 liter bottle, at the market) (USD)
- x27	Cigarettes 20 Pack (Marlboro) (USD)
- x28	One-way Ticket (Local Transport) (USD)
- x29	Monthly Pass (Regular Price) (USD)
- x30	Taxi Start (Normal Tariff) (USD)
- x31	Taxi 1km (Normal Tariff) (USD)
- x32	Taxi 1hour Waiting (Normal Tariff) (USD)
- x33	Gasoline (1 liter) (USD)
- x34	Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) (USD)
- x35	Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) (USD)
- x36	Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment (USD)
- x37	1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) (USD)
- x38	Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) (USD)
- x39	Fitness Club, Monthly Fee for 1 Adult (USD)
- x40	Tennis Court Rent (1 Hour on Weekend) (USD)
- x41	Cinema, International Release, 1 Seat (USD)
- x42	Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child (USD)
- x43	International Primary School, Yearly for 1 Child (USD)
- x44	1 Pair of Jeans (Levis 501 Or Similar) (USD)
- x45	1 Summer Dress in a Chain Store (Zara, H&M, …) (USD)
- x46	1 Pair of Nike Running Shoes (Mid-Range) (USD)
- x47	1 Pair of Men Leather Business Shoes (USD)
- x48	Apartment (1 bedroom) in City Centre (USD)
- x49	Apartment (1 bedroom) Outside of Centre (USD)
- x50	Apartment (3 bedrooms) in City Centre (USD)
- x51	Apartment (3 bedrooms) Outside of Centre (USD)
- x52	Price per Square Meter to Buy Apartment in City Centre (USD)
- x53	Price per Square Meter to Buy Apartment Outside of Centre (USD)
- x54	Average Monthly Net Salary (After Tax) (USD)
- x55	Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate
- data_quality	0 if Numbeo considers that more contributors are needed to increase data quality, else 1

2. Extraer los siguentes estadísiticos del conjunto de datos para varias de las variables disponibles:
- Media
- Desviación con respecto de la media
- Varianza
- Desviación típica
- Moda
- Mediana
- Media ponderada
- Robustez
- Coeficiente de variación

La columnas que nos centraremos seran de producto basico:

- x9 = leche (litro)
- x11 = rice (1 kg)
- x12 = eggs (12 ud.)
- x14 = chicken fillets (1 kg)
- x16 = apples (1 kg)
- x19 = tomato (1 kg)

Las columnas de vivienda:

- x48 = Apartment (1 bedroom) in City Centre (USD)
- x49	= Apartment (1 bedroom) Outside of Centre (USD)
- x50	= Apartment (3 bedrooms) in City Centre (USD)
- x51	= Apartment (3 bedrooms) Outside of Centre (USD)
- x52	= Price per Square Meter to Buy Apartment in City Centre (USD)
- x53	= Price per Square Meter to Buy Apartment Outside of Centre (USD)

Salario neto:

- x54	= Average Monthly Net Salary (After Tax) (USD)

In [18]:
fichero["country"].value_counts()
#utilizamos el Value Count para elegir 5 de los paises que tienen mas registros.

United States            1074
Italy                     185
India                     167
Brazil                    166
United Kingdom            161
                         ...
Saint Lucia                 1
Sao Tome And Principe       1
Vanuatu                     1
Bermuda                     1
Comoros                     1
Name: country, Length: 204, dtype: int64

In [19]:
fichero_us = fichero[fichero["country"]== "United States"]
fichero_it = fichero[fichero["country"]== "Italy"]
fichero_in = fichero[fichero["country"]== "India"]
fichero_br = fichero[fichero["country"]== "Brazil"]
fichero_uk = fichero[fichero["country"]== "United Kingdom"]

In [27]:
#media
salario_us = fichero_us["x54"].mean().round()
print(f"El salario neto en Estados unidos es de media {salario_us}")

salario_it = fichero_it["x54"].mean().round()
print(f"El salario neto en Italy es de media {salario_it}")

salario_in = fichero_in["x54"].mean().round()
print(f"El salario neto en India es de media {salario_in}")

salario_br = fichero_br["x54"].mean().round()
print(f"El salario neto en Brazil es de media {salario_br}")

salario_uk = fichero_uk["x54"].mean().round()
print(f"El salario neto en United Kingdom es de media {salario_uk}")

El salario neto en Estados unidos es de media 3987.0
El salario neto en Italy es de media 1466.0
El salario neto en India es de media 433.0
El salario neto en Brazil es de media 363.0
El salario neto en United Kingdom es de media 2662.0

In [29]:
#Desviación con respecto de la media

diferencia_us = fichero_us["x54"] - salario_us
#calculamos la diferencia entre la columna de salario de US y la media.

desviacion_us = np.abs(diferencia_us)
desviacion_us

20      2079.38
32      1453.69
45       827.48
73       229.70
86       910.71
         ...
4849        NaN
4850        NaN
4851        NaN
4857        NaN
4858     653.67
Name: x54, Length: 1074, dtype: float64

In [36]:
#Varianza

varianza_us = fichero_us["x54"].var()
varianza_us

2010919.840769498

In [37]:
#Desviación típica

desviacion_tipica_us = fichero_us["x54"].std()
desviacion_tipica_us

1418.0690535970023

In [39]:
#Moda

moda_us = fichero_us["x54"].mode()
moda_us[0]

5000.0

In [40]:
#Mediana
mediana_us = fichero_us["x54"].median()
mediana_us

3750.0

In [ ]:
#Media ponderata
average_us = np.average(fichero_us["x54"], weight=)
average_us

avg = np.average(df_cigar["price"], weights=w)

In [ ]:
#Robustez

#se hará sobre el numero total

In [ ]:
#Coeficiente de varación

3. Interpretación de los resultados.
- Ahora interpreta los resultados obtenidos de los diferentes estadísticos estudiados haciendo hincapié en aspectos interesantes de tus datos y explica lo mejor posible la naturaleza de los mismos.