Trabajaremos con tres ficheros diferentes, para acabar con uno general:
- El csv que creamos en el ejercicio de pair programming Pandas IV.

- El csv llamado attacks_historico donde tenemos información sobre los ataques de tiburón previos al año 1800.
- El csv llamado attacks_adicional donde tenemos información sobre los ataques de tiburón.

In [1]:
import pandas as pd
import numpy as np

1. Cargad los tres ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos. Escoged una forma de unirlos.

In [3]:
attacks_4 = pd.read_csv("DATOS/attacks_pandas4.csv")

attacks_h = pd.read_csv("DATOS/attacks_historico.csv")

attacks_a = pd.read_csv("DATOS/attacks_adicional.csv")

In [4]:
print(sorted(attacks_4.columns))
print(sorted(attacks_h.columns))
print(sorted(attacks_a.columns))

['activity', 'age', 'area', 'case_number', 'country', 'href', 'location', 'name', 'sex_', 'siglo', 'species_', 'time', 'type', 'unnamed:_0', 'year']
['Activity', 'Age', 'Area', 'Case Number', 'Case Number.1', 'Case Number.2', 'Country', 'Investigator or Source', 'Location', 'Name', 'Sex ', 'Species ', 'Time', 'Type', 'Unnamed: 0', 'Unnamed: 22', 'Unnamed: 23', 'Year', 'href', 'href formula', 'original order', 'pdf']
['Case Number', 'Date', 'Fatal (Y/N)', 'Injury', 'Unnamed: 0']

In [5]:
# Explorando los nombres de las columnas nos damos cuenta de que no están homogeneizados, ya que hay espacios por medio y letras mayúsculas..., y de que la columna 
# "Unnamed: 0" es una columna común en todas, probablemente utilizaremos un merge() para unirlos pero antes queremos unifarmarlo.

2. Chequead que los nombres de las columnas ver si se llaman iguales entre dataframes . ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sean todas iguales unificad el nombre de las columnas.

In [6]:
columnas_nuevas_4 = {col : col.lower().replace(" ","_").replace(".","_") for col in attacks_4.columns}
columnas_nuevas_h = {col : col.lower().replace(" ","_").replace(".","_") for col in attacks_h.columns}
columnas_nuevas_a = {col : col.lower().replace(" ","_").replace(".","_") for col in attacks_a.columns}

#print(columnas_nuevas_4)
print(columnas_nuevas_h)
#print(columnas_nuevas_a)

{'Unnamed: 0': 'unnamed:_0', 'Case Number': 'case_number', 'Year': 'year', 'Type': 'type', 'Country': 'country', 'Area': 'area', 'Location': 'location', 'Activity': 'activity', 'Name': 'name', 'Sex ': 'sex_', 'Age': 'age', 'Time': 'time', 'Species ': 'species_', 'Investigator or Source': 'investigator_or_source', 'pdf': 'pdf', 'href formula': 'href_formula', 'href': 'href', 'Case Number.1': 'case_number_1', 'Case Number.2': 'case_number_2', 'original order': 'original_order', 'Unnamed: 22': 'unnamed:_22', 'Unnamed: 23': 'unnamed:_23'}

In [7]:
attacks_4.rename(columns= columnas_nuevas_4, inplace = True)
attacks_4.columns

Index(['case_number', 'unnamed:_0', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href', 'siglo'],
      dtype='object')

In [8]:
attacks_h.rename(columns= columnas_nuevas_h, inplace = True)
attacks_h.columns

Index(['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

In [9]:
attacks_a.rename(columns= columnas_nuevas_a, inplace = True)
attacks_a.columns

Index(['unnamed:_0', 'case_number', 'fatal_(y/n)', 'injury', 'date'], dtype='object')

3. En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos historicos. Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, pero esas columnas están todavía en el histórico. Si no fuera por eso podríamos unir esos dataframes. Realizad los cambios que creais necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

In [10]:
display(attacks_4.columns, attacks_h.columns)

Index(['case_number', 'unnamed:_0', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href', 'siglo'],
      dtype='object')

Index(['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

In [11]:
attacks_h2 = attacks_h.drop(["unnamed:_22", "unnamed:_23", "case_number_1", "case_number_2","original_order", "investigator_or_source","pdf", "href_formula"] ,axis=1)

In [12]:
attacks_h2.columns

Index(['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href'],
      dtype='object')

4. Es el momento de unir la información de todos los ataques de tiburón que acabamos de crear con el DataFrame de información adicional. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.
- NOTA Cuando hagáis la unión considerad que la información que más nos interesa es la del DataFrame que creamos en el apartado anterior, lo cual determinará el tipo de unión.

In [13]:
#Primero unimos el archivo, el del ejercicio 4 y el attacks histórico.
attacks_4h = attacks_4.merge(attacks_h2, how="outer", on=['activity', 'age', 'area', 'case_number', 'country', 'href', 'location', 'name', 'sex_', 'species_', 'time', 'type', 'unnamed:_0', 'year'])

In [14]:
#Después unimos el resultado anterior con el archivo attacks adicional.
attacks_4ha = attacks_4h.merge(attacks_a, how="outer", on=["case_number", "unnamed:_0"])

In [15]:
attacks_4ha.head(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI,Y,FATAL,03-Jun-2018

5. Guardad el dataframe nuevo en un csv que usaremos mañana en la clase de pair programming.

In [16]:
attacks_4ha.set_index(["case_number"], inplace=True)

In [ ]:
attacks_4ha.to_csv("DATOS/attacks_pandas5.csv")