Trabajaremos con tres ficheros diferentes, para acabar con uno general:
- El csv que creamos en el ejercicio de pair programming Pandas IV.

- El csv llamado attacks_historico donde tenemos información sobre los ataques de tiburón previos al año 1800.
- El csv llamado attacks_adicional donde tenemos información sobre los ataques de tiburón.

In [4]:
import pandas as pd
import os
import numpy as np

1. Cargad los tres ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos. Escoged una forma de unirlos.

In [5]:
attacks_4 = pd.read_csv("PANDAS/DATOS/attacks_con_siglo.csv")

attacks_h = pd.read_csv("PANDAS/DATOS/attacks_historico.csv")

attacks_a = pd.read_csv("PANDAS/DATOS/attacks_adicional.csv")

In [13]:
print(sorted(attacks_4.columns))
print(sorted(attacks_h.columns))
print(sorted(attacks_a.columns))

['Unnamed: 0', 'activity', 'age', 'area', 'case_number', 'country', 'href', 'location', 'name', 'sex_', 'siglo', 'species_', 'time', 'type', 'unnamed:_0', 'year']
['Activity', 'Age', 'Area', 'Case Number', 'Case Number.1', 'Case Number.2', 'Country', 'Investigator or Source', 'Location', 'Name', 'Sex ', 'Species ', 'Time', 'Type', 'Unnamed: 0', 'Unnamed: 22', 'Unnamed: 23', 'Year', 'href', 'href formula', 'original order', 'pdf']
['Case Number', 'Date', 'Fatal (Y/N)', 'Injury', 'Unnamed: 0']

In [ ]:
# Explorando los nombres de las columnas nos damos cuenta de que no están homogeneizados, ya que hay espacios por medio y letras mayúsculas..., y de que la columna 
# "Unnamed: 0" es una columna común en todas, probablemente utilizaremos un merge() para unirlos pero antes queremos unifarmarlo.

2. Chequead que los nombres de las columnas ver si se llaman iguales entre dataframes . ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sean todas iguales unificad el nombre de las columnas.

In [27]:
columnas_nuevas_4 = {col : col.lower().replace(" ","_").replace(".","_") for col in attacks_4.columns}
columnas_nuevas_h = {col : col.lower().replace(" ","_").replace(".","_") for col in attacks_h.columns}
columnas_nuevas_a = {col : col.lower().replace(" ","_").replace(".","_") for col in attacks_a.columns}

#print(columnas_nuevas_4)
print(columnas_nuevas_h)
#print(columnas_nuevas_a)

{'Unnamed: 0': 'unnamed:_0', 'Case Number': 'case_number', 'Year': 'year', 'Type': 'type', 'Country': 'country', 'Area': 'area', 'Location': 'location', 'Activity': 'activity', 'Name': 'name', 'Sex ': 'sex_', 'Age': 'age', 'Time': 'time', 'Species ': 'species_', 'Investigator or Source': 'investigator_or_source', 'pdf': 'pdf', 'href formula': 'href_formula', 'href': 'href', 'Case Number.1': 'case_number_1', 'Case Number.2': 'case_number_2', 'original order': 'original_order', 'Unnamed: 22': 'unnamed:_22', 'Unnamed: 23': 'unnamed:_23'}

In [31]:
attacks_4.rename(columns= columnas_nuevas_4, inplace = True)
attacks_4.columns

Index(['unnamed:_0', 'case_number', 'unnamed:_0', 'year', 'type', 'country',
       'area', 'location', 'activity', 'name', 'sex_', 'age', 'time',
       'species_', 'href', 'siglo'],
      dtype='object')

In [32]:
attacks_h.rename(columns= columnas_nuevas_h, inplace = True)
attacks_h.columns

Index(['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

In [33]:
attacks_a.rename(columns= columnas_nuevas_a, inplace = True)
attacks_a.columns

Index(['unnamed:_0', 'case_number', 'fatal_(y/n)', 'injury', 'date'], dtype='object')

3. En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos historicos. Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, pero esas columnas están todavía en el histórico. Si no fuera por eso podríamos unir esos dataframes. Realizad los cambios que creais necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

In [34]:
display(attacks_4.columns, attacks_h.columns)

Index(['unnamed:_0', 'case_number', 'unnamed:_0', 'year', 'type', 'country',
       'area', 'location', 'activity', 'name', 'sex_', 'age', 'time',
       'species_', 'href', 'siglo'],
      dtype='object')

Index(['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

In [49]:
objeto_a = attacks_a[attacks_a["unnamed:_0"]== 0]
objeto_a

,unnamed:_0,case_number,fatal_(y/n),injury,date
0,0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018

In [57]:
attacks_4["case_number"].unique()

array(['2018.06.25', '2018.06.03.a', '2018.05.26.b', ..., '1892.03.02',
       '1880.11.25', '1868.05.13'], dtype=object)

In [59]:
attacks_4.sample(10)

,unnamed:_0,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
157,476,2014.11.13,477,2014.0,Unprovoked,USA,Hawaii,"Airplane Beach, Lahina, West Maui",Snorkeling,Andrew Haas,M,53,13h30,1.5 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI
51,197,2016.11.28,198,2016.0,Provoked,AUSTRALIA,Victoria,Queenscliff,Fishing,Rod McFarlane,M,73,11h00,"Broadnose sevengill shark, 1.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI
407,1189,2008.10.22,1194,2008.0,Provoked,AUSTRALIA,New South Wales,"Oceanworld, Manley",Scuba diving,Steve Cloke,M,34,17h20,"Grey nurse shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI
477,1358,2007.07.10,1363,2007.0,Unprovoked,BAHAMAS,Abaco Islands,Allan-Pensacola Cay,Spearfishing,Joanie Regan,F,48,11h00,"Bull shark, 5'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI
161,491,2014.10.05.a,492,2014.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Hilton Mantooth,M,15,11h00,Blacktip shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI
1340,3986,1960.04.14,3998,1960.0,Invalid,BERMUDA,"33N, 68W",Royal Canadian Navy CS2F-1 aircraft ditched in...,Floating on a raft,"Crew of aircraft: McGreevy, Beakley, Rosenthal...",M,"21, 34,24 & 35",09h00 - 09h30,Questionable incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XX
500,1406,2007.01.05,1411,2007.0,Unprovoked,USA,Hawaii,"Majors Bay, Kaua'i",Surfing,Rich Reed,M,24,10h15,"6' to 8' shark, possibly a tiger shark",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI
1148,3208,1975.07.19,3218,1975.0,Unprovoked,USA,California,"Point Conception, Santa Barbara County",Hookah diving for abalone,Gary Johnson,M,34,13h30,"White shark, 5m to 6m",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XX
1223,3569,1966.05.16.b,3580,1966.0,Invalid,USA,Florida,"Fernandina Beach, Nassau County",Spearfishing / Scuba diving,Steven Oschosky,M,24,14h00,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XX
14,40,2018.02.23,40,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI

In [42]:
attacks_a

,unnamed:_0,case_number,fatal_(y/n),injury,date
0,0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018
2,2,2018.06.09,N,Injury to left lower leg from surfboard skeg,09-Jun-2018
3,3,2018.06.08,N,Minor injury to lower leg,08-Jun-2018
4,4,2018.06.04,N,Lacerations to leg & hand shark PROVOKED INCIDENT,04-Jun-2018
...,...,...,...,...,...
6283,6283,ND.0003,Y,FATAL,1900-1905
6284,6284,ND.0002,Y,FATAL,1883-1889
6285,6285,ND.0001,Y,"FATAL. ""Shark bit him in half, carrying away t...",1845-1853
6286,6286,0,NaN,NaN,NaN
6287,6287,xx,NaN,NaN,NaN

In [40]:
attacks_h

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order,unnamed:_22,unnamed:_23
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,...,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,NaN,NaN
1,6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,...,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,NaN,NaN
2,6134,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,...,NaN,"The Waterford Herald, 9/15/1792",1792.09.12-Thames.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1792.09.12,1792.09.12,169.0,NaN,NaN
3,6135,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,...,NaN,"G.P. Whitley; D. Baldridge, p.162",1791.00.00-aboriginal woman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1791.00.00,1791.00.00,168.0,NaN,NaN
4,6136,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,...,NaN,"G.P. Whitley citing J. Cobley, Sydney Cove, p....",1788.05.10-Sydney,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1788.05.10,1788.05.10,167.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,6297,ND.0005,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
166,6298,ND.0004,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
167,6299,ND.0003,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
168,6300,ND.0002,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
169,6301,ND.0001,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

4. Es el momento de unir la información de todos los ataques de tiburón que acabamos de crear con el DataFrame de información adicional. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.
- NOTA Cuando hagáis la unión considerad que la información que más nos interesa es la del DataFrame que creamos en el apartado anterior, lo cual determinará el tipo de unión.

5. Guardad el dataframe nuevo en un csv que usaremos mañana en la clase de pair programming.