In [5]:
# importamos las librer칤as que necesitamos

import pandas as pd
import numpy as np
import os

In [6]:
os.getcwd()

'/Users/admin/Documents/DA-PromoC-modulo2-sprint1-VannaMina/PANDAS'

In [7]:
#vamos a trabajar con el csv creado en el ejercicio de pair programming anterior.

fichero = pd.read_csv("DATOS/attacks_pandas5.csv")

1. 쮺u치ntos ataques hubo por pa칤s? Devuelve un DataFrame.

游늷 NOTA Ordena los resultados de mayor a menor. Esto todav칤a no lo hemos visto, pero un DataFrame lo podemos ordenar con `.sort_values()`.

In [10]:
fichero.head(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI,Y,FATAL,03-Jun-2018

In [20]:
ataques = fichero.groupby("country").count()
ataques.head()

,case_number,unnamed:_0,year,type,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
country,,,,,,,,,,,,,,,,,
AMERICAN SAMOA,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0,0,0
ARGENTINA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0
ASIA?,1,1,1,1,0,0,1,1,1,0,0,0,1,0,0,0,0
AUSTRALIA,343,343,343,343,338,335,338,343,342,325,324,330,343,324,46,47,47
BAHAMAS,29,29,29,29,29,28,28,29,29,26,26,29,29,26,2,2,2

In [19]:
ataques_ordenados = ataques.sort_values(by = "case_number" ,axis = 0, ascending = False)
ataques_ordenados.head()

,case_number,unnamed:_0,year,type,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
country,,,,,,,,,,,,,,,,,
USA,741,741,741,741,740,739,739,741,741,722,720,726,741,719,81,89,89
AUSTRALIA,343,343,343,343,338,335,338,343,342,325,324,330,343,324,46,47,47
SOUTH AFRICA,234,234,234,234,234,234,234,234,234,226,226,226,234,226,9,9,9
BAHAMAS,29,29,29,29,29,28,28,29,29,26,26,29,29,26,2,2,2
NEW ZEALAND,21,21,21,21,21,21,20,21,21,20,20,20,21,20,1,1,1

2. 쮺u치ntos ataques ha habido por a침o? Devuelve un DataFrame. De nuevo ordena los resultados de mayor a menor. `.sort_values()`

In [24]:
ataques_a침os = (fichero.groupby("year").count()).sort_values(by = "year" ,axis = 0,  ascending = False)
ataques_a침os.head()

,case_number,unnamed:_0,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
year,,,,,,,,,,,,,,,,,
2018.0,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
2017.0,30,30,30,30,30,30,30,30,30,30,30,30,30,30,25,30,30
2016.0,37,37,37,37,37,37,37,37,37,37,37,37,37,37,35,37,37
2015.0,68,68,68,68,68,68,68,68,68,68,68,68,68,68,63,68,68
2014.0,35,35,35,35,35,35,35,35,35,35,35,35,35,35,19,19,19

3. 쮺u치ntos ataques hubo por a침o y sexo? Devolved un DataFrame solo del a침o 2000 en adelante.

In [32]:
ataques_a_s = fichero.groupby(["year","sex_"])["case_number"].count().reset_index()
ataques_a_s

       year sex_  case_number
0       0.0    F           13
1       0.0    M          104
2       5.0    M            1
3      77.0    M            1
4     500.0    M            1
..      ...  ...          ...
191  2016.0    M           30
192  2017.0    F            9
193  2017.0    M           21
194  2018.0    F            2
195  2018.0    M           15

[196 rows x 3 columns]

4. Primero extraed solo las filas que correspondan a USA, AUSTRALIA y SOUTH AFRICA. 

    쮺u치ntos de los ataques fueron letales por sexo? 
    Devuelve un DataFrame.

In [40]:
ataques_uas = fichero[(fichero["country"] == "USA") | (fichero["country"] == "AUSTRALIA") | (fichero["country"] == "SOUTH AFRICA")]
ataques_uas.head(3)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
2,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI,N,Lower left leg bitten,26-May-2018
3,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018

In [63]:
#para comprobar el resultado de los ataques que han sido fatales hemos averiguado la columna fatal_(y/n)

ataques_uas["fatal_(y/n)"].value_counts()

N    128
Y      8
Name: fatal_(y/n), dtype: int64

In [77]:
ataques_fatales = ataques_uas[ataques_uas["fatal_(y/n)"]=="Y"].groupby("sex_")["case_number"].count().reset_index()
ataques_fatales

#Hemos entendido que la pregunta es: numero de ataques fatales por sexo.

  sex_  case_number
0    F            2
1    M            6

5. Usando el DataFrame creado en el ejercicio anterior. 
    
    쮼n qu칠 pa칤s hubo m치s ataques?

In [79]:
#En el Dataframe anterior hay solamente los ataques por cada "sexo", por lo cual tendremos que hacer otro aprovechando el codigo del anterior

pais_fatal = ataques_uas[ataques_uas["fatal_(y/n)"]=="Y"].groupby("country")["case_number"].count().reset_index()
pais_fatal

     country  case_number
0  AUSTRALIA            8

6. 쯈u칠 y cu치ntos tipos de ataques hubo por pa칤s?

In [85]:
tipologia_ataque = fichero.groupby("country")["type"].count()
tipologia_ataque

country
AMERICAN SAMOA      2
ARGENTINA           1
ASIA?               1
AUSTRALIA         343
BAHAMAS            29
                 ...
URUGUAY             2
USA               741
VANUATU             4
VENEZUELA           4
VIETNAM             5
Name: type, Length: 95, dtype: int64

In [89]:
b = fichero.groupby("type")["country"].count()
b

type
Boat               4
Boating           17
Invalid           92
Provoked         114
Sea Disaster      11
Unprovoked      1424
Name: country, dtype: int64

In [91]:
tipologia_ataque = fichero.groupby("country","type").count()
tipologia_ataque

ValueError: No axis named type for object type DataFrame

In [ ]:
f_mean_std = df.groupby(["gender", "vehicle_size"])['number_of_policies'].agg(["mean", 'std'])
df_mean_std.reset_index(inplace = True)
df_mean_std