In [167]:
import pandas as pd
import numpy as np
import regex as re

In [168]:
fichero = pd.read_csv("DATOS/attacks_pandas5.csv")

1 Cread una columna nueva y una funci√≥n que nos de el mes en el que ocurri√≥ el ataque. Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaci√≥n de mes. En ese caso devolved un nulo (NaN).
üí° Pista üí°Pod√©is usar regex.

In [169]:
#Averiguamos la tipolog√≠a de la columna correspondiente a la fecha(date) y vemos que es de tipo object
fichero.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7789 entries, 0 to 7788
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  7788 non-null   object
 1   unnamed:_0   7789 non-null   int64
 2   year         1672 non-null   float64
 3   type         1672 non-null   object
 4   country      1662 non-null   object
 5   area         1626 non-null   object
 6   location     1621 non-null   object
 7   activity     1641 non-null   object
 8   name         1663 non-null   object
 9   sex_         1658 non-null   object
 10  age          1518 non-null   object
 11  time         1512 non-null   object
 12  species_     1546 non-null   object
 13  href         1672 non-null   object
 14  siglo        1502 non-null   object
 15  fatal_(y/n)  5751 non-null   object
 16  injury       6258 non-null   object
 17  date         6286 non-null   object
dtypes: float64(1), int64(1), object(16)
memory usage: 1.1+ MB

In [170]:
# observamos varios ejemplos de como sacan los datos la columna date.
fichero.sample()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
2584,2009.09.26,1083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Laceration to right foot,26-Sep-2009

In [171]:

def sacar_mes(columna):
    patron = "-(\w+)-"
    #patron2 = "(\d+)-(\w+)-(\d+)"
    try:
        mes =re.findall(patron, columna)
        return mes
          
    except:
        return np.nan

In [172]:
fichero["mes"] = fichero["date"].apply(sacar_mes)

In [173]:
fichero.sample(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date,mes
3572,2000.01.05,2071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,FATAL,05-Jan-2000,[Jan]
2236,2012.09.24,735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Left foot bitten,24-Sep-2012,[Sep]

2 Vamos con la columna fatal_(y/n). Lo primero que ten√©is que hacer es evaluar los valores √∫nicos que hay. Esperar√≠amos tener solo dos valores: y y n, pero tristemente no ser√° as√≠ üò≠. Cread una columna nueva y una funci√≥n que devuelva √∫nicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [174]:
#Sacamos el unique para ver los valores que ten√≠amos en la columna.
fichero["fatal_(y/n)"].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [175]:
def y_n(columna):
    columna = str(columna)
    columna = columna.upper().replace(" ","")
    if columna == "N":
        return columna
    elif columna == "Y":
        return columna
    else:
        return np.nan

In [176]:
fichero["fatal_(y/n)2"] = fichero["fatal_(y/n)"].apply(y_n)

In [179]:
#Volvemos a sacar el unique para comprobar que la funci√≥n ha funcionado.
fichero["fatal_(y/n)2"].unique()

array(['N', 'Y', nan], dtype=object)

3 Seguid la misma l√≥gica que en el ejercicio anterior pero con la columna sex. Pero en este caso vamos a incluir un retito m√°s: En este caso querremos tener dos valores √∫nicos F y M. De nuevo en la columna hay otros car√°cteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendr√©is que usar la librer√≠a random). En caso de que sea nulo, que la funci√≥n devuelva nulo (np.nan).

In [180]:
fichero["sex_"].unique()

array(['F', 'M', 'lli', nan], dtype=object)

4 Una vez que hay√°is terminado eliminad las columnas originales conservando las nuevas.

5 Guardad el dataframe en un csv que usaremos m√°s adelante.