In [1]:
import pandas as pd
import numpy as np
import regex as re
import random

In [2]:
fichero = pd.read_csv("DATOS/attacks_pandas5.csv")

1 Cread una columna nueva y una funci√≥n que nos de el mes en el que ocurri√≥ el ataque. Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaci√≥n de mes. En ese caso devolved un nulo (NaN).
üí° Pista üí°Pod√©is usar regex.

In [3]:
#Averiguamos la tipolog√≠a de la columna correspondiente a la fecha(date) y vemos que es de tipo object
fichero.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7789 entries, 0 to 7788
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  7788 non-null   object
 1   unnamed:_0   7789 non-null   int64
 2   year         1672 non-null   float64
 3   type         1672 non-null   object
 4   country      1662 non-null   object
 5   area         1626 non-null   object
 6   location     1621 non-null   object
 7   activity     1641 non-null   object
 8   name         1663 non-null   object
 9   sex_         1658 non-null   object
 10  age          1518 non-null   object
 11  time         1512 non-null   object
 12  species_     1546 non-null   object
 13  href         1672 non-null   object
 14  siglo        1502 non-null   object
 15  fatal_(y/n)  5751 non-null   object
 16  injury       6258 non-null   object
 17  date         6286 non-null   object
dtypes: float64(1), int64(1), object(16)
memory usage: 1.1+ MB

In [4]:
# observamos varios ejemplos de como sacan los datos la columna date.
fichero.sample()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
7525,1847.09.10,6024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Lacerations to arm,10-Sep-1847

In [5]:

def sacar_mes(columna):
    patron = "-(\w+)-"
    #patron2 = "(\d+)-(\w+)-(\d+)"
    try:
        mes =re.findall(patron, columna)
        return mes
          
    except:
        return np.nan

In [6]:
fichero["mes"] = fichero["date"].apply(sacar_mes)

In [7]:
fichero.sample(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date,mes
6411,1935.01.24.b,4910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,"No injury, sleeve ripped",24-Jan-1935,[Jan]
2733,2008.07.11,1232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Laceration to foream,11-Jul-2008,[Jul]

2 Vamos con la columna fatal_(y/n). Lo primero que ten√©is que hacer es evaluar los valores √∫nicos que hay. Esperar√≠amos tener solo dos valores: y y n, pero tristemente no ser√° as√≠ üò≠. Cread una columna nueva y una funci√≥n que devuelva √∫nicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [8]:
#Sacamos el unique para ver los valores que ten√≠amos en la columna.
fichero["fatal_(y/n)"].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [9]:
def y_n(columna):
    columna = str(columna)
    columna = columna.upper().replace(" ","")
    if columna == "N":
        return columna
    elif columna == "Y":
        return columna
    else:
        return np.nan

In [10]:
fichero["fatal_(y/n)_limpio"] = fichero["fatal_(y/n)"].apply(y_n)

In [11]:
#Volvemos a sacar el unique para comprobar que la funci√≥n ha funcionado.
fichero["fatal_(y/n)_limpio"].unique()

array(['N', 'Y', nan], dtype=object)

3 Seguid la misma l√≥gica que en el ejercicio anterior pero con la columna sex. Pero en este caso vamos a incluir un retito m√°s: En este caso querremos tener dos valores √∫nicos F y M. De nuevo en la columna hay otros car√°cteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendr√©is que usar la librer√≠a random). En caso de que sea nulo, que la funci√≥n devuelva nulo (np.nan).

In [12]:
fichero["sex_"].unique()

array(['F', 'M', 'lli', nan], dtype=object)

In [13]:
# Como ya tenemos la columna limpia de resultados hablamos con Cesar y acordamos encontrar la manera de que los nan de esta columna pasen 
# aleatoriamente a "Y" o "N". 

def nulos_aleatorio(colum):
    lista = ["N","Y"]
    if colum == "Y":
        return "Y"
    elif colum == "N":
        return "N"
    else:
        return random.choice(lista)

In [14]:
fichero["sex"] = (fichero["sex_"].apply(nulos_aleatorio))

In [15]:
fichero["sex"].unique()

array(['Y', 'N'], dtype=object)

In [16]:
fichero.sample()

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,...,time,species_,href,siglo,fatal_(y/n),injury,date,mes,fatal_(y/n)_limpio,sex
920,1993.08.12,2483,1993.0,Unprovoked,USA,California,"Abalone Point, Westport Union Landing, Mendoci...",Free diving for abalone (ascending),David R. Miles,M,...,14h00,5.5 m to 6 m [18' to 20'] white shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XX,NaN,NaN,NaN,NaN,NaN,N

4 Una vez que hay√°is terminado eliminad las columnas originales conservando las nuevas.

In [17]:
borrar_columnas = fichero.drop(labels= ["fatal_(y/n)", "sex_"], axis=1)
borrar_columnas

,case_number,unnamed:_0,year,type,country,area,location,activity,name,age,time,species_,href,siglo,injury,date,mes,fatal_(y/n)_limpio,sex
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,[Jun],N,Y
1,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI,FATAL,03-Jun-2018,[Jun],Y,Y
2,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI,Lower left leg bitten,26-May-2018,[May],N,N
3,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018,[May],N,N
4,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI,Injured by teeth of a dead porbeagle shark he ...,13-May-2018,[May],N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7784,ND.0003,6283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FATAL,1900-1905,[],Y,N
7785,ND.0002,6284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FATAL,1883-1889,[],Y,N
7786,ND.0001,6285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"FATAL. ""Shark bit him in half, carrying away t...",1845-1853,[],Y,Y
7787,0,6286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
7788,xx,6287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y

5 Guardad el dataframe en un csv que usaremos m√°s adelante.

In [18]:
fichero.to_csv("DATOS/attacks_pandas7.csv")